.iconZone {
    display: flex;
    justify-content: center;
    a {
        color: #4b8fea;

        &:visited {
            color: #4b8fea;
        }
    }
    .fab {
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;

        &:hover {
            -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
        }

    }
}

i {
    font-size: 1.6rem;
    padding: 1rem;
}